<header>
  <nav>
    <ul class="navbar">
      <li class="navitem">
        <img
          class="header-image"
          src="./assets/full_logo_white.png"
          alt="Logo"
        />
      </li>
      <li class="navitem"><a href="/">Home</a></li>
      <li class="navitem"><a href="/users">Users</a></li>
      <li class="navitem"><a href="/schedules">Schedules</a></li>
    </ul>
  </nav>
</header>
